body {
  background-color: rgba(236, 233, 233, 0.281);
}

/*BARRE DE NAVIGUATION*/
.navbar {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(236, 233, 233, 0.281);
}

.logo {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.navbar a {
  align-self: center;
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #238128;
  color: white;
}

.navbar .menu {
  display: flex;
}

.navbar .Connexion,
.navbar .Inscription {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.Connexion {
  background: transparent;
  border: none;
  color: #238128;
}

.Inscription {
  background-color: #238128;
  color: white;
  border: none;
}

/*HEADER*/

.From8years {
  color: #238128;
}

header {
  display: flex;
  padding: 60px 10%;
  background-color: rgba(236, 233, 233, 0.281);
  text-align: left;
  align-items: center;
  position: relative;
  bottom: 100px;
}

.Img1 {
  width: 400px;
  position: relative;
  top: 100px;
}

.txt1 {
  font-size: 3rem;
  color: #000000;
  font-weight: 900;
}

.txt2 {
  position: relative;
  right: 430px;
  top: 100px;
  font-size: 16px;
  color: #000000;
  margin: 10px 0 30px;
}

.boutoninscrire {
  background-color: #238128;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  position: relative;
  right: 705px;
  top: 140px;
}

/*CRITÈRES*/

.Critères {
  padding: 40px 10%;
  background: rgba(236, 233, 233, 0.281);
}

.Critèrestexte {
  display: flex;
}

.CritèreTitre {
  position: relative;
  left: 350px;
  bottom: 40px;
}

.txt3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  position: relative;
  bottom: 60px;
  left: 110px;
}

.txt4 {
  font-size: 20px;
}

/*TEXTE MILIEU*/

.textemid {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  background-color: rgba(236, 233, 233, 0.281);
}

.Img2 {
  width: 450px;
  height: auto;
}

.txtmidh2 {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}

.txtmidp {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

.boutontxt {
  background-color: #238128;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 800;
}

.textemid2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  background-color: rgba(236, 233, 233, 0.281);
}

.Img3 {
  width: 450px;
  height: auto;
}

.txtmidh2-2 {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}

.txtmidp2 {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

.boutontxt2 {
  background-color: #238128;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 800;
}

/*FOOTER*/

.footer {
  text-align: center;
  padding: 40px 0;
  background: rgba(236, 233, 233, 0.281);
  color: black;
  font-size: 14px;
}

.footerlien {
  color: #238128;
}
